@page
@model MiniBlog.Pages.ArticleDetailsModel
@{
    ViewData["Title"] = "جزیيات مقاله";
}
<div class="col-12 mb-3" id="title">
    
</div>
<div class="col-12 mb-3 " id="ArticleImage"> 

</div>
<div class="col-12 mb-3" id="ArticleDetails"> 

</div>


